:host {
    position: relative;
    display: block;
}

.gridControls {
    margin-bottom: 1em;
}

.canvasContainer {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
