:host {
  display: block;
}

.removeImageIcon {
  visibility: hidden;

  @apply m-0
  flex
  items-center
  justify-center
  top-0
  right-0
  w-4
  h-4
  cursor-pointer
  border-0
  absolute
  rounded-full
  p-1
  bg-red-400
  text-white;
}

.imageContainer {
  @apply relative
    cursor-pointer
    flex
    items-center
    justify-center
    w-14
    h-14
    text-center
    transition-transform
    transform
    hover:scale-125
    p-1;

  &:hover {
    z-index: 1;

    .removeImageIcon {
      visibility: visible;
    }
  }
}

.isSelected {
  opacity: 1;
  box-shadow: inset 0px 0px 0px 5px #ef9a9a;
}
